@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1{
    display: flex;
    justify-content: flex-end;
    width: 15vw;
    font-size: 40px;
    font-weight: bold;
    font-family: "Montserrat", sans-serif;
}
header{
    width: 100%;
    justify-content: space-between;
    display: flex;
    align-items: center;
    height: 16vh
}
nav{
    width: 45vw;
}
ul{
    display: flex;
    width: 40vw;
    justify-content: space-evenly;
    list-style: none;
    font-family: "Montserrat", sans-serif;
}
li{
    font-size: 23px;
}
li:hover{
    transform: scale(104%);
}
.portifolio{
    font-weight: 900;
}
main{
    height: auto;
    width: auto;
}
.firstSectionMain{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-left: 5vw;
    flex-direction: column;
    height: 75vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    background-image: url(./img/header/laranja\ azul\ recorte.png);
}
h2{
    font-size: 60px;
    color: white;
    font-family: "Montserrat", sans-serif;
}
p{
    padding-top: 30px;
    color: white;
    font-size: 25px;
    font-weight: 200;
    font-family: "Montserrat", sans-serif;
    width: 210px;
}
p:hover{
    transform: scale(104%);
    text-decoration: underline;
}
.secondSectionMain{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    height: 150vh;
}
.secondSectionMain img{
    height: 42vh;
}
img:hover{
    transform: scale(104%);
}
footer{
    display: flex;
    height: 200px;
    background-color: #F6F6F6;
    font-size: small;
}
.firstSectionFooter{
    display: flex;
    justify-content: space-evenly;
    width: 60vh;
}
.firstSectionFooter img{
    width: 30px;
}
h3{
    font-family: "Montserrat", sans-serif;
    padding-top: 89px;
    padding-left: 80px;
}
h4{
    font-family: "Montserrat", sans-serif;
    padding-top: 85px;
    padding-left: 70px;
    font-weight: 200;
}
button{
    display: none;
}
@media (max-width: 700px) {
    header {
        justify-content: space-between;
        height: 6vh;
        width: 55vw
    }
    button{
        display: initial;
        width: 25vw;
        height: 5.5vh;
        font-size: 20px;
        background-color: black;
        color: white;
    }
    nav{
        display: none;
    }
    main{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        flex-wrap: wrap;
    }
}